<div class="container">
  <div
    matBadge="{{ valorPrueba }}"
    matBadgeOverlap="false"
    class="demo-section"
  >
    Texto con el badge pequeño
  </div>

  <div matBadge="1" matBadgeSize="large" class="demo-section">
    Texto con el badge grande
  </div>

  <div class="demo-section">
    botón con el badge a la izquierda del botón
    <button
      mat-raised-button
      color="primary"
      matBadge="8"
      matBadgePosition="before"
      matBadgeColor="accent"
    >
      Action
    </button>
  </div>

  <div class="demo-section">
    botón con el badge a la derecha del botón
    <button
      mat-raised-button
      color="primary"
      matBadge="8"
      matBadgePosition="after"
      matBadgeColor="accent"
    >
      Action
    </button>
  </div>

  <div class="demo-section">
    botón qu epermite la visibilidad del badge
    <button
      mat-raised-button
      matBadge="7"
      [matBadgeHidden]="hidden"
      (click)="ocultar()"
    >
      Ocultar
    </button>
  </div>

  <div class="demo-section">
    badge con ícono
    <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>

    <span class="cdk-visually-hidden">
      Example with a home icon with overlaid badge showing the number 15
    </span>
  </div>
</div>
