

<!-- <div class="container m-5">
  <div class="row align-items-start">
    <div class="col">
      <app-lands-form></app-lands-form>
    </div>
    <div class="col">
      <app-lands-form></app-lands-form>
    </div>
    <div class="col">
      <app-land-detail [the_land]="the_land"></app-land-detail>
    </div>
  </div>
</div> -->

<!-- <div class="width-container">
  <div class="row">
    <div class="col-md-2" style="margin-left: 10px">
      <app-lands-form></app-lands-form>
    </div>
    <div class="col-md-4" style="margin-left: 120px">
      <cdk-virtual-scroll-viewport itemSize="1" class="example-viewport">
        <div class="row row-cols-5">
          <div class="col">
            <div class="list-group m-5 tamanio-list">
              <a
                class="list-group-item list-group-item-action"
                *ngFor="let land of lands"
                (click)="showLand(land.id)"
                ><button mat-button color="primary">
                  {{ land.land_name }}
                </button></a
              >
            </div>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
    <div class="col-md-6">
      <app-land-detail [the_land]="the_land"></app-land-detail>
    </div>
  </div>
</div> -->
