.table-content {
  margin-top: 40px;
  width: 300px;
}

.example-viewport {
  height: 440px;
  
}

.example-item {
  height: 40px;
}

.tamanio-list {
  width: 200px;
}

.width-container {
  width: 1000px;
}
