<div class="container">
  <div class="row">
    <button
      type="button"
      class="btn btn-outline-primary mt-3 mb-5 btn-block"
      (click)="openFormThemeWorld(id_theme_world)"
    >
      <strong>New Theme About {{ theme }}</strong>
    </button>
  </div>
  <div class="row">
    <div
      *ngIf="Ifthemes"
      class="alert alert-danger col-md-12"
      style="text-align: center"
      role="alert"
    >
      <span style="font-size: 12pt">
        There Are No Themes About {{ theme }}</span
      >
    </div>

    <mat-tab-group>
      <mat-tab *ngFor="let item of themeWorld" label="{{ item.title }}">
        <hr />
        <p class="align-content-tab">
          {{ item.allDescription }}
        </p>
        <br />
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <button
            class="btn btn-outline-warning"
            (click)="openFormThemeWorldUpdate(item.id)"
          >
            Update
          </button>
          <button
            *ngIf="Ifthemes"
            class="btn btn-outline-danger"
            (click)="deleteThemeWorld(item.id)"
          >
            Delete
          </button>
        </mat-button-toggle-group>
      </mat-tab>
    </mat-tab-group>

    <hr />
  </div>
  <div class="col-md-4">
    <button class="btn btn-outline-success" (click)="returnToThemesWorld()">
      Go Back
    </button>
  </div>
</div>
