.no-imagen-character {
  margin-left: 73px;
  width: 200px;
  height: 200px;
}

.example-card-character {
  margin-right: 150px;
  margin-bottom: 40px;
}

.character-bio {
  font-size: 10pt;
}

.example-viewport {
 
  height: 220px;
  width: 3100px;
}

.example-item {
  height: 50px;
}

.nueva-clase {
  margin-left: 180px;
  margin-bottom: 40px;
}
