<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <img routerLink="/" class="img-icon" [src]="imgPerfil" />

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <button mat-button color="success" routerLink="/">Principal</button>

      <button mat-button color="success" routerLink="/characters">
        Principal Characters
      </button>
      <button mat-button color="success" routerLink="/the-broken-sword">
        The Broken Sword Books
      </button>
      <button
        mat-button
        color="success"
        [matMenuTriggerFor]="optionsBrokenSword"
      >
        The World
      </button>
      <mat-menu #optionsBrokenSword="matMenu" xPosition="after">
        <button
          mat-menu-item
          *ngFor="let item of dashboardOptions"
          [routerLink]="item.routes"
        >
          {{ item.options }}
        </button>
      </mat-menu>
    </div>
  </div>
</nav>
