<mat-dialog-content class="mat-typography" style="width: 500px; height: 500px">
  <div class="row">
    <div
      class="alert alert-primary col-md-12"
      style="text-align: center"
      role="alert"
    >
      <span style="font-size: 12pt">
        The Added Theme Will Be Displayed Once the Form is Saved</span
      >
    </div>
  </div>
  <div class="row" style="margin-top: 10px">
    <form
      action=""
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      novalidate
      autocomplete="off"
    >
      <div class="row">
        <label for="" class="">Title Abouth the World</label>
        <div class="col-md-12">
          <input
            class="form-control"
            placeholder="Title"
            formControlName="title"
          />
          <mat-error
            *ngIf="form.controls['title']?.errors?.['required'] && form.controls['title']?.touched"
          >
            Is Required
          </mat-error>
        </div>
      </div>
      <hr />
      <div class="row">
        <label for="" class="">Description</label>
        <div class="col-md-12">
          <textarea
            class="form-control tamanio-text-area"
            placeholder="Description"
            formControlName="allDescription"
          ></textarea>
          <mat-error
            *ngIf="form.controls['allDescription']?.errors?.['required'] && form.controls['allDescription']?.touched"
          >
            Is Required
          </mat-error>
        </div>
      </div>
    </form>
  </div>
  <div class="row" style="margin-top: 10px">
    <div class="col-md-12">
      <button
        type="button"
        class="btn btn-outline-success mt-3 mb-5 btn-block"
        (click)="onSubmit()"
        [disabled]="form.invalid"
        [mat-dialog-close]=""
      >
        <strong>Save</strong>
      </button>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
