<div class="row">
  <cdk-virtual-scroll-viewport itemSize="6" class="example-viewport">
    <table class="table tamanio-table" style="margin-left: 120px">
      <thead>
        <tr>
          <th scope="col">Idea Abouth...</th>
          <th scope="col">Read Ideas</th>
          <th scope="col">Read</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let id of ideas">
          <td>
            <p matBadge="{{ id.cant_ideas }}" matBadgeOverlap="false">
              {{ id.description }}
            </p>
          </td>
          <td>
            <mat-icon
              mat-button
              color="primary"
              class="pointer"
              (click)="allIdeas(id.theme_id)"
            >
              import_contacts</mat-icon
            >
          </td>
          <td>
            <mat-icon
              mat-button
              color="primary"
              class="pointer"
              (click)="pdfIdeas(id.theme_id)"
            >
              import_contacts</mat-icon
            >
          </td>
        </tr>
      </tbody>
    </table>
  </cdk-virtual-scroll-viewport>
</div>
