.order-card {
  width: 800px;
  height: 400px;
  margin-bottom: 8px;
  margin-left: 200px;
}

.table-content {
  margin-top: 40px;
  width: 300px;
}

.example-viewport {
  height: 440px;
}

.example-item {
  height: 40px;
}

.tamanio-list {
  width: 380px;
}

.width-container {
  width: 1000px;
}
