<div class="container">
  <div class="row">
    <div class="col-md-12">
      <mat-grid-list cols="3" rowHeight="1:1">
        <mat-grid-tile *ngFor="let item of themesWorld"
          ><mat-card
            class="example-card back-ground-img-blue"
            style="
              background-image: url('{{ url }}{{ item.img_theme_world }}');
            "
          >
            <mat-card-header>
              <mat-card-title class="font-color">{{
                item.theme_world_title
              }}</mat-card-title>
            </mat-card-header>
            <hr />
            <cdk-virtual-scroll-viewport itemSize="1" class="example-viewport">
              <mat-card-content class="font-color">
                <span>{{ item.description }}</span>
              </mat-card-content>
            </cdk-virtual-scroll-viewport>
            <hr />
            <mat-card-actions class="font-color">
              <button class="font-color" mat-button>LIKE</button>
              <button class="font-color" mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>
