.example-card {
  max-width: 350px;
  height: 370px;
}
.back-ground-img-blue {
  width: 350px;
  height: 370px;
  opacity: 0.9;
  background-size: 100% 100%;
}
.back-ground-img-blue:hover {
  opacity: 1;
}
.font-color {
  color: aliceblue;
  text-shadow: rgb(0, 0, 0) 2px 2px 15px;
}

.example-viewport {
  width: 350px;
  height: 250px;
}
